@media only screen and (min-device-width: 375px) and (max-width: 736px)
{
    .flex{
        transition: 1s all;
        --spacing: 20px;
        --column: 1;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
        margin-bottom: calc(-1 * var(--spacing));
        margin-top: 20px;
    }
}