@media only screen and (min-width : 375px) 
and (max-width : 736px){
    /* Styles */
    
    .wrapper{
        // height: 50vh;
        .container{
            .Navigation{
                display: none !important;
            }
            .header{
                padding-top: 100px;
                &-logPage{
                    img{
                        max-width: 100px;
                    }
                }
                &-content{
                    line-height: 64px;
                    &-title,&-desc{
                        font-size: 20px;
                    }
                    &-name{
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .AboutMe{
        height: auto;
        padding: 50px 0px !important;
        .container{
            .About_Me{
                display: block;
                &-info{
                    .Avartar{
                        margin: 0 auto;
                        max-width: 300px;
                    }
                }
                &-Content{
                    text-align: center;
                    margin: 0 auto;
                    .Title{
                        font-size: 35px;
                        &:after{
                            width: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        &-z{
                            position: relative;
                            padding: 2px;
                            background-color: #1E1E1E;
                            z-index: 2;
                        }                    
                    }
                    .btn{
                        margin: 0 auto;
                        padding: 8px 20px;
                        display: block;
                        margin-top: 20px;
                        &-second{
                            // margin: 30px 40px;
                        }
                    }
                }
            }
        }
    }
    .Skill{
        .container{
            display: block;
            text-align: center;
            margin-top: 40px;
            .Skill_Webdesign{
                padding-bottom: 60px;
                &-Title{
                    margin: 0 auto;
                }
            }
        }
    }
    .intro{
        &-Logo{
            width: 300px;
            height: 300px;
        }
    }
}
    