@media only screen and (min-device-width: 414px) and (max-device-height: 736px){
    /* Styles */

        .flex{
            display: block;
        }
        .Block{
            width: 100%;
            .content{
                width: 100%;
            }
            .list {
                width: 100%;
                .btn_process{
                    display: inline-flex;
                    padding: 22px 27px;
                }
            }
        }


    }

    @media only screen and (min-device-width: 374px) and (max-device-height: 667px){
        /* Styles */
        .flex{
            display: block;
        }
        .Block{
            width: 100%;
            .content{
                width: 100%;
            }
            .list {
                width: 100%;
            
            }

       #txtHeading3 {
           font-size: 13px !important;
       }
       .btn_process{
        display: inline-flex;
        padding: 22px 9px !important;
    }

        }
    }