.txtHeading {
    font: {
        size: 36px;
        weight : bold;
    };
    text-align: center;
    color: white;
}

.txtHeading2{
    font: {
        size: 24px;
        weight : bold;
    };
    text-align: center;
    color: white;
}
.txtHeading3{
    font: {
        size: 24px;
        weight : bold;
    };
    text-align: center;
    color: #1e1e1e;
}

label {
    display: block;
    font-size: 16px;
}

.desc {
    color: #798497;
}