@media only screen and (min-width : 767px) 
and (max-width : 1024px)
 {
   .container{
       display: block;
       .foodspin{
      
           .spinbackground{
            left: 94px;
            top: -117px;
            width: 577px;
            height: 577px;
           }

           #up{
            border: none;
            position: absolute;
            background-color: #E87F1E;
            border-radius: 100em;
            width: 40px;
            height: 40px;
            left: 120px;
            top: 530px;
            cursor: pointer;
            i{
                color: #ffff;
            }     
                        }
        
            #down{
                border: none;
                position: absolute;
                background-color: #E87F1E;
                border-radius: 100em;
                width: 40px;
                height: 40px;
                cursor: pointer;
                left: 600px;;
                top: 530px;
                i{
                    color: #ffff;
                }
                    }
                    .imgproduct{
                        position: absolute;
                        width: 250px;
                        height: 244.96px;
                        left: 255px !important ;
                        top: 375px !important;
                        transition: all 2s;
                        animation: leaves 1.5s ease-in-out infinite alternate;
                    }
                    @keyframes leaves {
                        0% {
                            transform: scale(1.0);
                            opacity: 0.7;
                            
                            -webkit-transform: scale(1.0);
                        }
                        50% {
                            opacity: 1;
                            transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                        }
                    }
                  
       }
     
       .content{
        margin: 0px 220px;
        top: 600px;
        text-align: center;
       }
     
   }
}

.checkbtn{
    font-size: 30px;
    color: #0099ff;
    float: right;
    line-height: 80px;
    display: none;
    margin-right: 40px;
    cursor: pointer;
  }
  #check{
    display: none;
  }


@media only screen and (min-width : 413px) 
and (max-width : 736px){
    .header-navright{
      display: none;
    }
    .header{
      display: none;
    }
    // .logopage{
    //     padding-right: 50px;
    //     padding-left: 1.5rem;
    //     left: 0;
    //     transition: all .5s;
    //   }
    //   nav ul li a{
    //     font-size: 16px;
    //   }
    //   .checkbtn{
    //       display: block;
    //       left: 0;
    //       padding: 0px 2rem;
    //       margin-top: 30px;
    //       transition: all .5s;
    //     }
    //     ul{
    //       position: fixed;
    //       width: 50%;
    //       height: 100vh;
    //       background: #0099ff;
    //       top: 80px;
    //       left: 0;
    //       text-align: center;
    //       transition: all 1s;
    //     }
    //     nav ul li{
    //       display: block;
    //       margin: 40px 0;
    //       line-height: 30px;
    //     }
    //     nav ul li a{
    //       font-size: 20px;
    //     }
    //     #check:checked ~ ul{
    //       left: 0;
    //       display: block;
    //       line-height: 30px;
    //     }
       
        .container{
            .foodspin{
      
                .spinbackground{
                  left: 20px;
                  top: 47px;
                  width: 300px;
                  height: 300px;
                  .ciclegraph{
                    width: 300px;
                    height: 300px;
                  }
                }
                #up{
                  left: 37px;
                  top: 450px;
                }
                #down{
                  left: 270px;
                  top: 450px;
                }
                .imgproduct{
                  left: 57px !important;
                  top: 300px !important;
                }
            }
            .content{
              margin: 0px 4px;
              top: 561px;
              text-align: center;
              
               }
            
        }
}

